.ParentPanelContainer {
   border-radius: 10px;
   overflow: auto;
   display: flex;
   flex-wrap: wrap;
//    flex-direction: row;
   height: 98%;
}
.zoomButtonContainer {
   display: flex;
   position: relative;
   top:-6%;
   margin-left: 12px;

}
.buttonItems {
   height: 40px;
   display: flex;
   width: 40px;
   background: white;
   border: 0.1rem solid #CA2B1C;
   border-radius: 40px;
   margin-right: 4px;
   color: #CA2B1C;
   font-size: 16px;
   align-content: center;
   justify-content: center;
   align-items: center;
  &:hover{
   background-color: #CA2B1C ;
   color: white;
  }
  &:disabled{
   opacity: 0.4;
   border: 0.1rem solid #CA2B1C;
   background: white;
   color: #CA2B1C;
   &:hover{
   background-color: #CA2B1C ;
   color: white;
   }
  }

}

@media screen and (max-width: 768px) { 
   .zoomButtonContainer {
      display: none;
   }
}

